{% extends "base.html" %}
{% load static %}
{% block content %}


 <div id="main">
        <div class="inner">

            <section>
                <header class="main">
                    <hr class="major" />
                    <h1>Ações</h1>
                </header>
                <section>
									<div class="features">
										<article>
                                            <a href="#" class="icon-link" aria-label="Abrir formulário">
                                                <span class="icon fa-gem" aria-hidden="true"></span>
                                            </a>

											<div class="content">
												<h3>Formulários</h3>
												<p><a href="\menu_cadastro\">
                                                    Cadastros e Edições</a></p>
											</div>
										</article>
										<article>
                                            <a href="#" 
                                            class="icon-link" 
                                            aria-label="Consulta dados">
											<span class="icon solid fa-paper-plane"></span>
                                            </a>
											<div class="content">
												<h3>Consultas</h3>
												<p> 
                                            <a href="#" 
                                            class="icon-link" 
                                            aria-label="Consulta dados">Pesquisas e Filtros
                                            </a>
                                        </p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Vínculos</h3>
												<p>Relacionamentos e Agrupamentos.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Estatísticas</h3>
												<p>Indicadores, Mapeamentos, Relatórios</p>
											</div>
										</article>
									</div>
				</section>

            

            </section>

        </div>
    </div>

 {% endblock %}