{% extends "base.html" %}
{% load static %}
{% block content %}


 <div id="main">
        <div class="inner">

            <section>
                <header class="main">
                    <hr class="major" />
                    <h1>Ações</h1>
                </header>
                <section>
									<div class="features">
										<article>
                                            <a href="#" class="icon-link" aria-label="Abrir formulário">
                                                <span class="icon fa-user" aria-hidden="true"></span>
                                            </a>

											<div class="content">
												<h3>Cliente</h3>
												<p><a href="\cliente\">
                                                  Cadastro inicial</a></p>
											</div>
										</article>
										<article>
                                            <a href="#" 
                                            class="icon-link" 
                                            aria-label="Consulta dados">
											<span class="icon solid fa-file"></span>
                                            </a>
											<div class="content">
												<h3>Atendimento</h3>
												<p> 
                                            <a href="#" 
                                            class="icon-link" 
                                            aria-label="Consulta dados">Atendimentos e operações.
                                            </a>
                                        </p>
											</div>
										</article>
										
									</div>
				</section>

            

            </section>

        </div>
    </div>

 {% endblock %}